.no-link-style {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.page-link.custom-dark,
.page-link.custom-dark:hover,
.page-link.custom-dark:focus,
.page-link.custom-dark:active,
.page-link.custom-dark.disabled {
    background-color: #343a40 !important;
    color: #fff !important;
    border: 0 !important; 
    min-width: 40px;
    text-align: center;
}

.page-item.shadow-sm .page-link.custom-dark {
    border: 0 !important; 
    font-weight: bold;
}


:root {
    --backgroung-color: #e9e9e9;
}